body {
  margin: 0;
  padding: 0;
}

#container {
  max-width: 1280px;
  margin: 0 auto;
}

#container > h1 {
  text-align: center;
}

#front-body {
  background-image: url("Images/background1.jpg");
}





/* App on mobile example */

/* General app layout */
.mobile-example {
  margin: 25px;
  border: 3px solid black;
  border-radius: 30px;
  width: 360px;
  height: 640px;  
  background-color: lightgray;
  overflow: hidden;
  font-family: "Lucida Sans Unicode", serif;
  font-size: 14px;
  position: relative;
  float: left;
}

.chat-example {
	overflow: ;
}

.mobile-top {
  background-color: gray;
  height: 40px;
  border-bottom: 1px solid black;
}

.mobile-top > p {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding-top: 10px;
}

.mobile-top img {
  width: 25px;
  float: right;
  padding-right: ;
  transform: translateX(-50%);
  display: inline-block;
  margin: 5px 10% 0 0;
}

.mobile-dropdown-menu {
  display: ;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  background-color: lightgray;
  width: 50%;
  right: 25%;
  top: 40px;
  text-align: center;
  font-weight: bold;
}

/* End general app layout */




/* App chat area */

.mobile-body-chat {
  padding: 0 10px;
}

.auto-msg {
  color: dimgray;
  clear: both;
}

.starting-msg {
  padding-top: 15px;
}

.mobile-lines {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.sender-name {
  color: red;
  font-weight: bold;
}

.your-name {
  color: green;
  float: right;
  font-weight: bold;
}

.msg-right {
  float: right;
  width: 80%;
  padding: 10px 0;
}

.msg-left {
  float: left;
  width: 80%;
  padding: 10px 0;
}
  
.mobile-bottom {
  position: absolute;
  bottom: 0;
  height: 40px;
  background-color: gray;
  width: 100%;
  border-top: 1px solid black;

}

.mobile-bottom-inputs {
  height: 75%;
  margin: 5px 10px 0 30%;
  width: 80%;
  margin: 5px auto;
}

.mobile-bottom-chat {
  border: 1 solid black;
  background-color: lightgray;
  border-radius: 25px;
  float: left;
  height: 100%;
  margin-right: 10px;
  width: 75%;
}

.mobile-send {
  width: 20%;
  border-radius: 25px;
  text-align: center;
  background-color: darkgray;
  color: black;
  font-weight: bold;
  float: right;
  height: 100%;
  margin: 0;
  line-height: 30px;
}

/* End app chat area */





/* App home area */

.mobile-boxes-container {
  width: 95%;
  margin: 20% auto 0 auto;
  text-align: center;
}

.mobile-boxes {
  width: 125px;
  height: 125px;
  background-color: gray;
  display: inline-block;
  margin: 10px;
  border: 1px solid black;
}

.mobile-boxes-container img{
  width: 75px;
  height: 85px;
  display: block;
  margin: 10px auto 5px auto;
}

.mobile-boxes-container p {
  text-align: center;
  font-weight: bold;
  margin: 0;
 }

/* End app home area */




/* App login area */

.mobile-login {
  width: 60%;
  margin: 15% auto;
  text-align: center;
}

.mobile-login > h2 {
  padding-top: 15%;
}

.mobile-login > h4, p {
  margin: 0;
}

.mobile-login-input {
  width: 100%;
  background-color: white;
  height: 35px;
  margin: 10px auto;
  border-radius: 25px;
  border: 1px solid gray;
}





.clear {
  clear: both;
}