body {
    margin: 0;
    padding: 0;
	font-family: raleway, serif;
    background: linear-gradient(100deg, #FF8C00 5%, #FFA500 10%, #FFA500);
    background-size: 10000px 10000px;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.background-color-white {
  /*background-color: rgba(255,255,255,0.5);*/
}

.clear {
  clear: both;
}



#sidebar{
    position: fixed;
    width: 9%;
    height: 100%;
    background: blue;
    left: -200px;
    transition: all 0.4s linear;
   }

#wrapper{
    transition:margin-left 0.5s;
    padding: 65px;
    overflow: hidden;
    width: 80%;
<<<<<<< HEAD
}

h1 {
  margin: 0 auto;
  padding-top: 10%;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
}

p {
	font-size: 1.4em;
}

/* End general page layout */






=======
}
>>>>>>> c91ed3d952c265680d4e1c755c61c0d4df316450
/* Start of navbar-toggle-btn */

.navbar{
    position: fixed;
    background-color: red;
    overflow: hidden;
}

.toggle_btn > span {
    display: block;
    width: 42px;
    height: 5px;
    margin: 7px 0px;
    background: black;
}


#sidebar ul > li > a > img{
    width: 65%;
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(255,140,0,0.8);
    display: inline-block;
	text-align: center;
    
    box-shadow: 5px 5px 5px #994d00;
  	border: 4px solid #FA6900;
  	border-radius: 5px;
    
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;

}

.navbar ul{
    margin: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover{
    background-color: #ddd;
    color: #000;
}

/* End of navbar-toggle-btn */


/* Start of sidebar */

.side-nav{
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: orangered;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.6s;
}

.side-nav a{
    margin-top: 35px;
    margin-bottom: 65px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    transition: 0.3s;
    color: white;
    text-align: center;
    text-decoration: underline black;
}

.side-nav a:hover > img{
    background-color: orange;
}

.side-nav a:hover > p{
    color: yellow;
}

.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.side-nav a > img{
    width: 40%;
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(255,140,0,0.8);
    display: inline-block;
	text-align: center;
    box-shadow: 0 9px #994d00;
    
}

/* End of sidebar */


.page-lang {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255,255,255,0.4);
  z-index: 1;
}

.page-lang img{
  width: 48px;
  height: 30px;
  float: left;
  padding: 10px;
  margin: 0;

}
 
.current-lang {
  opacity: 0.5;
}





/* Welcome page */
.welcome-page-body {
    background-image: url("images/icon/BG.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}



.welcome-page-container {
    max-height: 1080px;
    max-width: 1920px;
    margin: 5% auto 0 auto;
}


.welcome-page-container > h1 {
	text-align: center;
	font-size: 4em;
    min-width: 800px;
}

.welcome-page-quote {
    text-align: center;
    background-size: cover;
	border-radius: 25px;
	background-color: rgba(255,255,255,0.6);
	margin: 0 auto 2% auto;
	width: 65%;
	font-size: 1.5em;
    max-width: 1280px;
    min-width: 800px;
    padding: 10px;
}

.non-centered {
    text-align: left;
}

.continue-below {
    padding-top: 50px;
}

.welcome-page-icon-container {
	margin: 0 auto;
	text-align: center;
    min-width: 800px;
    max-height: 210px;
}

.welcome-page-icon {
	background-color: rgba(255,140,0,0.8);
	border-radius: 50%;
	padding: 10px;
	margin: 0 20px;
	height: 10%;
	width: 10%;
    max-height: 125px;
    max-width: 125px;
	display: inline-block;
	text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 5px #994d00;
    border: 4px solid #FA6900;
    border-radius: 5px;
}


.welcome-page-icon:hover {background-color: #ff8000}

.welcome-page-icon:active {
  background-color: #e65c00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.welcome-page-icon img {
	width: 75px;
	margin: 0 auto;
}

.welcome-page-icon p {
	margin: 0 auto;
	font-weight: bold;
	font-size: 16px;
}

/* End welcome page */





/* Features page */

.features-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1280px;
  

}

.features-wrapper > h1 {
  margin: 0 auto;
  padding-top: 10%;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
}

.features-block {
	width: 95%;
}

.features-block > h2 {
  font-size: 2em;
  margin-top: 5%;
  text-align: center;
  padding-bottom: 50px;
}

.features-block > p {
  padding-top: ;
  font-size: 1.4em;
}

.mobile-example-container {
  text-align: center;
  margin: 0 auto;
	min-width: 640px;
}

.mobile-example {
  display: inline-block !important;
  float: none !important;
  text-align: left;
  width: 32% !important;
	min-height: 640px;
	min-width: 185px; 
}

.mobile-example-container-left {
  float: left;
  padding: 0 10px 10px 0;
	width: 30%;
	min-width: 290px;
}

.mobile-restore {
  width: 300px !important;
  height: 535px !important; 
}

.mobile-example-container-right {
  float: right;
  padding: 0 0 10px 10px;
}



/* End features page */


