body {
    margin: 0;
    padding: 0;
    background-color: #FFA500;
    background: repeating-linear-gradient(135deg, #FFA500, #FFA500 1000px, #FF8C00 1000px, #FF8C00 2000px);
    background: -webkit-repeating-linear-gradient(135deg, #FFA500, #FFA500 1000px, #FF8C00 1000px, #FF8C00 2000px);
    background: -o-repeating-linear-gradient(135deg, #FFA500, #FFA500 1000px, #FF8C00 1000px, #FF8C00 2000px);
    background: -moz-repeating-linear-gradient(135deg, #FFA500, #FFA500 1000px, #FF8C00 1000px, #FF8C00 2000px);		
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    background-size: 15000px 25000px;
    
}

/*///// General page layout /////*/

.clear {
  clear: both;
}

.source-link {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
}

.source-link:hover {
    color: red;
}

#wrapper{
    width:85%;
    margin: 0 auto;
    max-width: 1440px;
    padding: 75px 0 2% 0;
}

#paper-wrapper {
    margin-right: 0;
    margin-left: 9%;
    background-color: rgba(255,255,255,0.8);
    padding: 3%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    -o-box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    border: 1px solid black;
}

#paper-wrapper h1 {
  margin: 0 auto;
  padding-bottom: 3%;
  font-weight:bold;
  font-size: 2em;
  text-align: center;
}

#paper-wrapper h2 {
  font-size: 1.5em;
  text-align: center;
}

#paper-wrapper  p {
  font-size: 1.2em;
  line-height: 1.5em;
	padding: 25px 0;
	margin: 0;
}

.center-text {
	text-align: center;
}

.page-lang {
  background-color:#8cb3d9;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.page-lang img{
  width: 48px;
  height: 30px;
  float: left;
  padding: 3px;
  margin: 0;
  border: 4px solid  #333;
  z-index: 3;
}

.current-lang {
  opacity: 0.5;
}

/*///// End general layout /////*/





/*///// Navigation layout /////*/

/*// Sidebar with javascript //*/
#sidebar {
  position:absolute;
  position: fixed;
  top:0px;
  left:0px;
  width:15%;
max-width: 200px;
  height:100%;
  background: #47484b;
  text-align:center;
  transform-origin:left;
  transform:perspective(1200px) rotateY(90deg);
  transition:all 400ms ease;
  list-style-type: none;
  z-index: 2;
    overflow-y: auto;
}

@media screen and (max-width: 450px) {
    #sidebar {
        width: 35%;
        
    }
}

#sidebar-logo{
    width: 100%;
    padding-top: 3%;
}

#sidebar-logo img{
    width: 45% !important;
    border-radius: 20% !important;
    padding: 10px;
    
}

#sidebar-icon-logo {
    width: 100%;
    background-color: blue;
    border-radius: 20%;
    padding: 10px;
    background-color: rgba(255,140,0,0.8);
    display: inline-block;
	text-align: center;
    box-shadow: 0 9px #994d00;
    
    background-color: rgba(255,140,0,0.8);
    box-shadow: 5px 5px 5px #994d00;
    border: 4px solid #FA6900;
    border-radius: 50%;
}

#sidebar a {
    margin-bottom: 1%;
    text-decoration: none;
    font-size: 22px;
    display: block;
    transition: 0.3s;
    color: black;
    text-align: center;
    display: block;
    color: #ff8533;
    text-decoration: none;
    
}

#sidebar a > img{
    width: 25%;
    border-radius: 50%;
    padding: auto;
    background-color: rgba(255,140,0,0.8);
    display: inline-block;
	text-align: center;
    box-shadow: 0 9px #994d00;
    background-color: rgba(255,140,0,0.8);
    box-shadow: 5px 5px 5px #994d00;
    border: 4px solid #FA6900;
    border-radius: 25%;
    margin-top: 5%;
    
}


#sidebar > a > p {
    margin: 0px;
  color: darkorange;
  font-size:20px;
  width:100%;
  height:50px;
  border-bottom:2px solid #ffcc99;
  line-height:50px;
  text-decoration: none;
    list-style-type: none;  
}
    
#sidebar a {
    display: block;
    color: #ff8533;
    text-decoration: none;
}
    
#sidebar a:hover {background-color:black;}

#sidebar.active {
  transform:perspective(1200px) rotateY(0deg);
}


/*// Sidebar Noscript //*/  
#sidebar-noscript {
    position:absolute;
  position: fixed;
  top:0px;
  left:0px;
  width:15%;
  height:100%;
  background: silver;
  text-align:center;
  list-style-type: none;
  z-index: 2;
    overflow-y: auto;
  }

#sidebar-noscript-logo{
    width: 100%;
    padding-top: 3%;
}

#sidebar-noscript-logo img{
    background-color: transparent !important;
    width: 35% !important;
    border-radius: 20% !important;
    padding: 10px;
    
}

#sidebar-noscript-logo {
    width: 100%;
    border-radius: 25%;
    padding: 10px;
    background-color: rgba(255,140,0,0.8);
    display: inline-block;
  text-align: center;
    box-shadow: 5px 5px 5px #994d00;
    border: 4px solid #FA6900;
    
}

#sidebar-noscript a {
   margin-bottom: 1%;
    font-size: 22px;
    transition: 0.3s; 
    text-align: center;
    display: block;
    color: #ff8533;
    text-decoration: none;
}
    
#sidebar-noscript a > img{
    width: 20%;
    
    padding: auto;
   
    display: inline-block;
  text-align: center;
    
    background-color: rgba(255,140,0,0.8);
    box-shadow: 5px 5px 5px #994d00;
    border: 4px solid #FA6900;
    border-radius: 25%;
    margin-top: 5%;

}
    
#sidebar-noscript a:hover {background-color:#ffcc99}

#sidebar-noscript > a > p {
 margin: 0px;
  color:#000;
  font-size:20px;
  width:100%;
  height:50px;
  border-bottom:2px solid #ffcc99;
  line-height:50px;
  text-decoration: none;
    list-style-type: none;  
}

#sidebar-noscript.active {
  transform:perspective(1200px) rotateY(0deg);
}

/*// Sidebar Noscript end //*/






/*// Sidebar button activation //*/
#toggle-btn {
	background-color: #47484b;
	border-radius: 50%;
	padding: 22.5px 20px;	
    position:absolute;
    position: fixed;
    top:10px;
    left: 0;
    margin-left: 10px;
    transition:left 200ms linear 0ms,transform 300ms ease 100ms;
    z-index: 1;
}
  
#toggle-btn.active {
  left:15%;
  transform:rotate(360deg);
}



#toggle-btn:hover {
	background-color: black;
	cursor: pointer;
}

@media screen and (min-width: 1335px) {
    #toggle-btn.active {
        left: 200px;
    }
}

@media screen and (max-width: 450px) {
    #toggle-btn.active {
        left: 35%; 
    }
}
  
#toggle-btn span {
  position:relative;
  top:0px;
  display:block;
  background:orange;
  width:30px;
  height:5px;
  cursor:pointer;
  transition:transform 300ms ease 200ms;
}

#toggle-btn span:nth-child(even) {
	margin: 5px 0;
}
  
#toggle-btn.active span:nth-child(1) {
  top:10px;
  transform:rotate(45deg);
}
  
#toggle-btn.active span:nth-child(2) {
  opacity:0;
}

#toggle-btn.active span:nth-child(3) {
  top:-10px;
  transform:rotate(-45deg);
}

/*// End sidebar button activation //*/




/*// Features exclusive navigation bar //*/

.navbar{
    margin: 0 auto;
    text-align: center;
    width: 95%;
    padding-top: 15px;
    padding-bottom: 35px;
}

.navbar a{
    padding: 20px 0;
    margin: 10px auto;
    max-width: ;
    width: 30%;
    color: white;
    font-weight: bold;
    font-size: 200%;
    color: black; 
    background: linear-gradient(rgb(255, 236, 100) 5%, rgb(255, 171, 35) 100%) rgb(255, 236, 100);
    outline: 5px solid rgba(255,255,255,0.8);
    text-decoration: none;
    text-shadow: rgb(255, 238, 102) 0px 1px 0px;
    box-shadow: rgb(255, 246, 175) 0px 1px 0px 0px;
    display: block;
}

.navbar a:hover {background: linear-gradient(rgb(255, 171, 35) 5%, rgb(255, 236, 100) 100%) rgb(255, 171, 35) }

#top{
    position: fixed;
    bottom: 10px;
    right: 10px;    
    text-align: center;
    background: #47484b;
    border-radius: 50%;
    text-decoration: none;
    font-size: 3.5em;
    color: orange;
    line-height: 55px;
    width: 70px;
    height: 70px;
    border-bottom: 0;
    z-index: 1;
    outline: none;
}

#top:hover {background-color: black;}

@media screen and (max-width: 700px) {
    #top {
        border-radius: 0;
        bottom: 0;
        right: 0;
        width: 7.5%;
    }
}


/*// End features exclusive navigation bar //*/

/*///// End navigation layout /////*/






/*///// General images layout excluding features page /////*/

.image-right-frame-source, .image-left-frame-source {
    width: 50%;
    background-color: #8cb3d9;
    outline: 1px solid black;
}

.image-right-frame-source {
    float: right;
    margin-bottom: 2%;
    margin-left: 2%;
}

.image-left-frame-source{
    float: left;
    margin-bottom: 2%;
    margin-right: 2%;
}

.image-center-frame-source {
  margin: 50px auto;
  outline: 1px solid black;
  width: 100%;
	max-width: 600px;
  background-color: #8cb3d9;    
}

.image-center-frame-source p, .image-left-frame-source p, .image-right-frame-source p{
  font-size: 1em !important;
  text-align: center;
  margin: 0;
  padding: 5px !important;
}

.image-center-frame-source img, .image-left-frame-source img,.image-right-frame-source img {
  width: 98%;
  padding: 1%;
  display: block;
  margin: 0 auto;
}

.image-center-sidebyside {
	text-align: center;
	margin-top: 50px;
}

.image-center-sidebyside img {
  width: 46%;
  padding: 1%;
  background-color: #8cb3d9;
  border: 1px solid black;
	float: left;
}

.image-center-sidebyside img:nth-child(2) {
	float: right;
	margin-bottom: 50px;	
}

@media screen and (max-width: 900px) {
	.image-center-sidebyside img {
		float: none !important;
		width: 98%;
	}
    .image-center-frame-source {
        margin: 0;  
    }
}

@media screen and (max-width: 500px) { 
    .image-right-frame-source, .image-left-frame-source {
        float: none;
        width: 100%;
        margin: 0 auto;
    }
}

/*///// End image layout /////*/






/*///// Welcome page /////*/
.welcome-page-body {
    background-image: url("Images/BackgroundWelcomePage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 1024px) {
    .welcome-page-body {
        background-image: url("Images/IpadBackgroundWelcomePage.jpg");
    }
}

@media screen and (max-width: 450px) {
    .welcome-page-body {
        background-image: url("Images/MobileBackgroundWelcomePage.jpg");
    }
}

.welcome-page-container {
    max-width: 1920px;
    margin: 0 auto;
}

.welcome-page-container > img {
	text-align: center;
    width: 75%;
    max-width: 225px;
    display: block;
    padding: 2%;
    margin: 0 auto;
}

.welcome-page-container p{
    font-size: 1.2em;
}

.welcome-page-quote {
    text-align: center;
	border-radius: 25px;
	background-color: rgba(255,255,255,0.8);
	margin: 0 auto 2% auto;
	width: 90%;
    max-width: 1280px;
    padding: 20px 10px;
}

.non-centered {
    text-align: left;
}

.continue-below {
    padding-top: 50px;
}

.welcome-page-icon-container {
	margin: 0 auto;
	text-align: center;
    max-height: 210px;
    margin-bottom: 20px;
}

.welcome-page-icon {
	background-color: #ffa64d;
	padding: 15px 7px 7px 7px;
	margin: 2%;
    width: 40%;
    max-height: 95px;
    max-width: 95px;
	display: inline-block;
	text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 5px #994d00;
    border: 4px solid #FA6900;
    border-radius: 2px;
}


.welcome-page-icon:hover {background-color: #ff8000}

.welcome-page-icon:active {
  background-color: #e65c00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.welcome-page-icon img {
	width: 45px;
	margin: 0 auto;
}

.welcome-page-icon p {
	margin: 0 auto;
	font-weight: bold;
	font-size: 16px;
}

/*///// End welcome page /////*/






/*///// Features page /////*/

.features-block {
  padding-bottom: 100px;
}

.mobile-example-container-left {
  float: left;
  padding: 0 10px 10px 0;
  width: 32%;
	max-width: 350px;
}

.mobile-example-container-right {
  float: right;
  padding: 0 0 10px 10px;
  width: 32%;
	max-width: 350px;
}

.mobile-example-container-center {
  text-align: center;
  margin: 0 auto;
	width: 100%;
}

.mobile-example-container-center img {
  width: 32%;
	max-width: 350px;
}

.mobile-example-container-center img {
  margin-right: 0.5%;
  margin-left: 0.5%;
}

#quote-center {
  text-align: center;
}

@media screen and (max-width: 1115px) {
	.mobile-example-container-center img {
		width: 45%;
	}
	
	.mobile-example-container-center img:nth-element(odd) {
		margin-top: 50px;
		padding-top: 50px;
	}
}

@media screen and (max-width: 615px) {
    .features-block {
        padding-bottom: 10%;
    }
    
	.mobile-example-container-center img {
		width: 80%;
	}

	.mobile-example-container-center img:nth-child(even) {
        margin-right: 0;
        margin-left: 0;
	}
    
    .mobile-example-container-left {
        width: 50%;
    }
    
    .mobile-example-container-right {
        width: 50%;
    }   
}

@media screen and (max-width: 450px) {

    
    .mobile-example-container-left {
        float: none;
        padding: 0;
        margin: 0 auto;
        display: block;
        width: 80%;
    }
    
    .mobile-example-container-right {
        float: none;
        padding: 0;
        margin: 0 auto;
        display: block;
        width: 80%;
    }
}



/*// App Settings part of features page //*/

/* App example */

#mobile-example-container {
    width: 38%; 
    max-width: 362px;
    float: left;
}

#mobile-example {
  border: 5px solid black;
  background-color: white;
  overflow: hidden;
  font-family: "Lucida Sans Unicode", serif;
  position: relative;
  float: left;
  max-width: 360px;
  height: 640px;
  min-width: ;
}

#mobile-example h6 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.chat-size {
    font-size: 16px;
}

#mobile-top {
  background-color: hotpink;
  height: 40px;
  border-bottom: 1px solid black;
  
}

#mobile-top > p {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding-top: 10px;
    font-size: 80% !important;
}

#mobile-menu-button {
    float: right;
    margin: 7px 13% 0 0;
}

.mobile-menu-lines {
    display: block;
    width: 25px;
    background: black;
    height: 2px;
    margin-top: 5px;
    border-radius: 100px;
}

.mobile-body-chat {
  padding: 0 10px;
}

.sender-name {
  color: green;
  font-weight: bold;
}

.your-name {
  color: hotpink;
  float: right;
  font-weight: bold;
}

.msg-right {
  float: right;
  width: 80%;
  padding: 15px 0;
}

.msg-left {
  float: left;
  width: 80%;
  padding: 15px 0;
}
  
#mobile-bottom {
  position: absolute;
  bottom: 0;
  height: 40px;
  background-color: hotpink;
  width: 100%;
  border-top: 1px solid black;

}

.mobile-bottom-inputs {
  height: 75%;
  margin: 5px 10px 0 30%;
  width: 80%;
  margin: 5px auto;
}

.mobile-bottom-chat {
  border: 1 solid black;
  background-color: white;
  border-radius: 25px;
  float: left;
  height: 100%;
  margin-right: 1%;
  width: 75%;
}

.mobile-send {
  width: 20%;
  border-radius: 25px;
  text-align: center;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 14px !important;
  float: right;
  height: 100%;
  margin: 0;
  line-height: 30px !important;
  padding: 0 !important;
}

/* End app example */





/* Settings showcase selectors */

#settings-showcase-container {
    width: 60%;
    float: left;
}

.settings-showcase-selectors {
    width: 80%;
    margin: 0 auto;
}

.settings-showcase-selectors p {
    float: left;
    padding: 10px 0 !important;
    width: 60%;
}

.settings-showcase-selectors select {
    margin: 10px 0;
}

.settings-showcase-selectors select, option {
    float: right;
    border: 2px solid black;
    outline: none;
    width: 40%;
    max-width: 150px;
    min-width: 110px;
    background-color: orange;
    font-weight: bold;
    height: 30px;
}

@media screen and (max-width: 925px) {
    #mobile-example-container {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    
    #settings-showcase-container {
        clear: both;
        float: none;
        width: 75%;
        margin: 0 auto;
    }

    .settings-showcase-selectors {
        width: 100%;
    }
    
    .settings-showcase-selectors p {
        text-align: left;
    }
}

@media screen and (max-width: 550px) {
    .settings-showcase-selectors {
        width: 100%;
    }
    
    .settings-showcase-selectors p {
        text-align: center;
        width: 100%;
    }
    
    .settings-showcase-selectors select, option {
        float: none;
        margin: 0 auto;
        display: block;
        width: 100%;
    }

} 
/* Settings showcase end */

/*// End App settings //*/

/*///// End features page /////*/