body {
    margin: 0;
    padding: 0;
	font-family: raleway, serif;
    background: repeating-linear-gradient(135deg, #FFA500, #FFA500 1000px, #FF8C00 1000px, #FF8C00 2000px);
		background: -webkit-repeating-linear-gradient(135deg, #FFA500, #FFA500 1000px, #FF8C00 1000px, #FF8C00 2000px);
		background: -o-repeating-linear-gradient(135deg, #FFA500, #FFA500 1000px, #FF8C00 1000px, #FF8C00 2000px);
		background: -moz-repeating-linear-gradient(135deg, #FFA500, #FFA500 1000px, #FF8C00 1000px, #FF8C00 2000px);		
   
    background-repeat: no-repeat;
    overflow-x: hidden;
    
    
}


/* General page layout */

.clear {
  clear: both;
}

#wrapper{
    width: 90%;
    transition: margin-left 0.5s;
    overflow: hidden;
    margin: 0 auto;
}

#paper-wrapper {
  max-width: 1280px;
  background-color: rgba(255,255,255,0.8);
  margin: 10% auto;
  padding: 10%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
	-o-box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
  border: 1px solid black;
}

#paper-wrapper > h1 {
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 10%;
  font-weight:bold;
  font-size: 3em;
  text-align: center;
}

#paper-wrapper > h2 {
  font-size: 2em;
  padding-bottom: ;
  text-align: center;
}

#paper-wrapper > p {
  font-size: 1em;
  line-height: 1.5em;
}

.image-right-frame-source {
  float: right;
    width: 50%;
    text-align: center;
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px;
    margin-bottom: 2%;
    margin-left: 2%;
}

.image-right-frame-source img {
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
    border: 2px solid;
}


.image-center-frame-source {
  width: 50%;
  margin: 50px auto;
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px;
	min-width: 300px;
}

.image-center-frame-source img {
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid;
}

.image-left-frame-source {
  float: left;
    width: 50%;
    text-align: center;
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px;
     margin-bottom: 2%;
    margin-right: 2%;
    border: 2px solid;
}

.image-left-frame-source img {
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
	min-width: 300px;
}

.image-center-sidebyside {
  margin: 100px auto;
  text-align: center;
	min-width: 300px;
}

.image-center-sidebyside img {
  width: 45%;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid black;
  margin-left: 15px;
  margin-right: 15px;
	min-width: 300px;
}

.image-center-frame-source p{
  padding-top: 5px;
  font-size: 1em;
  text-align: center;
}

/* End general page layout */





/* Start of navbar-toggle-btn */

.navbar{
    position: fixed;
    margin-left: 1%;
    margin-top: 1%;
    overflow: hidden;

    box-shadow: 5px 5px 5px #994d00;
    border: 4px solid #FA6900;
    border-radius: 25%;
}

.toggle_btn > span {
    display: block;
    width: 42px;
    height: 5px;
    margin: 7px 0px;
    background: black;
}

.navbar a{
    float: left;
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;

}

.navbar a:hover{
    background-color: #ff8000;
}

.navbar a:active {
  background-color: #e65c00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.navbar-nav {
    text-decoration: none;
    color: black;
}
/* End of navbar-toggle-btn */

#navbar-top {
    width: 45%;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    padding: 3%;
    background-color: orangered;
    opacity: 0.9;
}

#navbar-top > a {
    text-decoration: none;
    padding: 3%;
    color: black;
    font-size: 28px;
}

#navbar-top > a:hover{
    background-color: #ff8000;
}

/* Start of sidebar */

.side-nav{
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #ff944d;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a{
    margin-top: 35px;
    margin-bottom: 65px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    transition: 0.3s;
    color: black;
    text-align: center;
    
    background-color: rgba(255,140,0,0.8);
    box-shadow: 5px 5px 5px #994d00;
    border: 4px solid #FA6900;
    border-radius: 5px;

}


 

.side-nav a:hover {
	 background-color:#ff8000;
}

.side-nav a:active {
  background-color: #e65c00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.side-nav a > img{
    width: 40%;
    
    padding: 10px;
    
    display: inline-block;
	text-align: center;
    
    
}

/* End of sidebar */


.page-lang {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  background-color:#8cb3d9;
  z-index: 1;
}

.page-lang img{
  width: 48px;
  height: 30px;
  float: left;
  padding: 3px;
  margin: 0;
  border: 4px solid  #333;
  
  border-right:1px solid #fff;

}
 
.current-lang {
  opacity: 0.5;
}





/* Welcome page */
.welcome-page-body {
    background-image: url("images/icon/BG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
background-attachment: fixed;
    
}



.welcome-page-container {
    max-height: 1080px;
    max-width: 1920px;
    margin: 0 auto;
}


.welcome-page-container > h1 {
	text-align: center;
	
    min-width: 800px;
    margin-top:0;
}

.welcome-page-quote {
    text-align: center;
    background-size: cover;
	border-radius: 25px;
	background-color: rgba(255,255,255,0.8);
	margin: 0 auto 2% auto;
	width: 65%;
	
    max-width: 1280px;
    min-width: 800px;
    padding: 10px;
}

.non-centered {
    text-align: left;
}

.continue-below {
    padding-top: 50px;
}

.welcome-page-icon-container {
	margin: 0 auto;
	text-align: center;
    min-width: 800px;
    max-height: 210px;
}

.welcome-page-icon {
	background-color: #ffa64d;
	
	padding: 7px;
	margin: 0 20px;
	height: 10%;
	width: 10%;
    max-height: 125px;
    max-width: 125px;
	display: inline-block;
	text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 5px #994d00;
    border: 4px solid #FA6900;
    border-radius: 2px;
}


.welcome-page-icon:hover {background-color: #ff8000}

.welcome-page-icon:active {
  background-color: #e65c00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.welcome-page-icon img {
	width: 45px;
	margin: 0 auto;
}

.welcome-page-icon p {
	margin: 0 auto;
	font-weight: bold;
	font-size: 16px;
}

/* End welcome page */





/* Features page */

.features-block {
  padding-top: 100px;
}

.features-block p {
  line-height: 1.5em;
	padding: 20px 0;
  font-size: 1.2em !important;
  font-weight: bold;
}

.mobile-example-container-left {
  float: left;
  padding: 0 10px 10px 0;
  width: 50%;
	min-width: 200px;
	max-width: 350px;
}


.mobile-example-container-right {
  float: right;
  padding: 0 0 10px 10px;
  width: 250px;
}

.mobile-example-container-center {
  text-align: center;
  margin: 0 auto;
	width: 100%;
}

.mobile-example-container-center img {
  width: 32%;
	min-width: 200px;
	max-width: 350px;
}


/* End features page */


/* Start of solution page */

.solution-text {
    text-align: center;
    font-size: 28px;
    line-height: 1.8em;
    margin-bottom: 10%;
}

#LGBT-text {
    font-size: 28px;
    line-height: 1.8em;
    margin-bottom: 5%;
    clear: left;
}

#bullying-text {
    text-align: left;
    font-size: 28px;
    line-height: 1.8em;
    margin-bottom: 5%;
}

#refugee-text {
    text-align: left;
    font-size: 28px;
    line-height: 1.8em;
    margin-bottom: 5%;
    clear: left;   
}

#friendship-text {
    text-align: center;
    font-size: 28px;
    line-height: 1.8em;
    margin-top: 10%;
    margin-bottom: 5%;
}


/* End of solution page */


