body {
  margin: 0;
  padding: 0;
	font-family: raleway, serif;
  background: linear-gradient(120deg, #FF8C00 1500px, #FFA500 1000px, #FFA500);
  background-size: contain;
  background-repeat: no-repeat;
}

.background-color-white {
  background-color: rgba(255,255,255,0.5);
  height: ;
}


/* Welcome page */
.grad {
  background-image: url("images/icon/BG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome-page-lang {
  position: absolute;
  top: 0;
  left: 0;
}

.welcome-page-lang img{
  width: 35px;
  height: 22px;
  float: left;
  padding: 10px;
  margin: 0;
  background-color: rgba(255,255,255,0.4);
}
 
.welcome-page-quote {
    text-align: center;
    background-size: cover;
	border-radius: 25px;
	background-color: rgba(255,255,255,0.4);
	margin: 0 auto 5% auto;
	width: 65%;
	font-size: 1.5em;
  max-width: 1280px;
  min-width: 800px;
  padding: 10px;
}

.non-centered {
  text-align: left;
}

.grad > h1 {
	text-align: center;
	margin-top: 15%;
	font-size: 5em;
}

.welcome-page-icon-container {
	padding-top: 5%;
	margin: 0 auto;
	text-align: center;
  min-width: 800px;
}

.welcome-page-icon {
	background-color: rgba(255,140,0,0.8);
	border-radius: 50%;
	padding: 10px;
	margin: 0 15px;
	height: 100px;
	width: 100px;
	display: inline-block;
	text-align: center;
  text-decoration: none;
  color: black;
}

.welcome-page-icon img {
	padding-top: 10%;
	width: 50px; 
	display: block;
	margin: 0 auto;
}

.welcome-page-icon p {
	margin: 0 auto;
	font-weight: bold;
	font-size: 16px;
}

/* End welcome page */





/* Features page */

.features-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1280px;
}

.features-wrapper > h1 {
  margin: 0 auto;
  padding-top: 25%;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
}

.features-wrapper img {
  width: 360px;
  height: 650px;
}

.features-block > h2 {
  font-size: 3em;
  margin-top: 300px;
  text-align: center;
  padding-bottom: 50px;
}