body {
    margin: 0;
    padding: 0;
  background-color: #FFA500;
    background: repeating-linear-gradient(135deg, #FFA500, #FFA500 1000px, #FF8C00 1000px, #FF8C00 2000px);
    background: -webkit-repeating-linear-gradient(135deg, #FFA500, #FFA500 1000px, #FF8C00 1000px, #FF8C00 2000px);
    background: -o-repeating-linear-gradient(135deg, #FFA500, #FFA500 1000px, #FF8C00 1000px, #FF8C00 2000px);
    background: -moz-repeating-linear-gradient(135deg, #FFA500, #FFA500 1000px, #FF8C00 1000px, #FF8C00 2000px);    
   
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    background-size: 15000px 15000px;
    
}


/* General page layout */


#sidebar {
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:100vh;
  background:#1a1a1a;
  text-align:center;
  transform-origin:left;
  transform:perspective(1200px) rotateY(90deg);
  transition:all 400ms ease;
      list-style-type: none;

}


#sidebar ul {
  padding: 0;
}


#sidebar ul li {
  color:#fff;
  font-size:20px;
  width:100%;
  height:50px;
  border-bottom:2px solid #ffcc99;
  line-height:50px;
  text-decoration: none;
    list-style-type: none;
}


#sidebar li a {
    display: block;
    color: #ff8533;
    text-decoration: none;
}


#sidebar a:hover {background-color:#ffcc99}

#sidebar.active {
  transform:perspective(1200px) rotateY(0deg);

  transform: translateY(4px);
}



#toggle-btn {
  position:absolute;
  left:30px;
  top:10px;
  transition:left 200ms linear 0ms,transform 300ms ease 100ms;
}


#toggle-btn.active {
  left:200px;
  transform:rotate(360deg);
}


#toggle-btn span {
  position:relative;
  top:0px;
  display:block;
  background:#1a1a1a;
  width:30px;
  height:5px;
  margin:5px 0px;
  cursor:pointer;
  transition:transform 300ms ease 200ms;
}
#toggle-btn.active span:nth-child(1) {
  top:10px;
  transform:rotate(45deg);
}
#toggle-btn.active span:nth-child(2) {
  opacity:0;
}
#toggle-btn.active span:nth-child(3) {
  top:-10px;
  transform:rotate(-45deg);
}


/* End of navbar-toggle-btn */





.language {
  top: 0;
  width: 40px;
  height: 25px;
  float: right;
  padding: 10px;
  border-left: 1px solid black;
  background-color: #333;
}


.page-lang {
  float: right;
  background-color:#8cb3d9;
  z-index: 1;
}

.page-lang img{
  width: 45px;
  height: 30px;
  float: left;
  padding: 3px;
  margin: 0;
  border: 2px solid  #333;
  
  border-right:1px solid #fff;

}
 
.current-lang {
opacity: 0.7;
}





