body {
  margin: 0;
  padding: 0;
}

.grad {
  background: linear-gradient(to bottom right, #FF8C00 500px, #FFA500 1000px, #FFA500);
	background-size: 5000px;
	font-family: raleway, serif;
   
}

.test{
    margin: 0 auto;
    top: 50%;
    width: 50%;
}


.test > img {
    margin: 0 auto;
    position: absolute;
    width: 50%;  
    height: 65%;
    z-index: -1;
}

.test > p {
    background-color: red;
    text-align: center;
    background-size: cover;
}

h1 {
	text-align: center;
	margin-top: 15%;
	font-size: 5em;
}

p {
	margin: 0 auto 5% auto;
	width: 65%;
	font-size: 1.5em;
}

button {
	padding: 15px;
	background-color: #FF8C00;
	border-color: black;
	color: black;
	border-radius: 50px;
	font-weight: bold;
	font-size: 2em;
}

button:hover {
	background-color: #FFA500;
}

a {
	text-decoration: none;
	color: black;
}

.center-button {
	text-align: center;
}