body{
    margin: 0;
    padding: 0;   
    font-family: raleway, serif;
    background: linear-gradient(100deg, #FF8C00 5%, #FFA500 10%, #FFA500);
    background-size: 10000px 10000px;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.background-color-white {
  /*background-color: rgba(255,255,255,0.5);*/
}

.clear {
  clear: both;
}

.navbar{
    position: fixed;
    background-color: red;
    overflow: hidden;
}

.toggle_btn > span {
    display: block;
    width: 42px;
    height: 5px;
    margin: 7px 0px;
    background: black;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;

}

.navbar ul{
    margin: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover{
    background-color: #ddd;
    color: #000;
}
/* End of navbar-toggle-btn */


/* Start of sidebar */

.side-nav{
    position: fixed;
    z-index: 1;
    height: 100%;
    max-width: 15%;
    width: 0;
    top: 0;
    left: 0;
    background-color: orangered;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.6s;
}

.side-nav a{
    margin-top: 3%;
    margin-bottom: 65px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    transition: 0.3s;
    color: white;
    text-align: center;
    text-decoration: underline black;
}

.side-nav a:hover > img{
    background-color: orange;
}

.side-nav a:hover > p{
    color: yellow;
}

.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.side-nav a > img{
    width: 25%;
    max-width: 100px;
    border-radius: 60%;
    padding: 10px;
    background-color: rgba(255,140,0,0.8);
    display: inline-block;
	text-align: center;
    box-shadow: 5px 5px 5px #994d00;
  	border: 4px solid #FA6900;
  	/* border-radius: 5px; */  
}

.side-nav a > p{
    font-size: 26px;
    text-align: center;
}



/* End of sidebar */


.page-lang {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255,255,255,0.4);
  z-index: 1;
}

.page-lang img{
  width: 48px;
  height: 30px;
  float: left;
  padding: 10px;
  margin: 0;

}
 
.current-lang {
  opacity: 0.5;
}


#wrapper{
    transition:margin-left 0.5s;
    padding: 65px;
    overflow: hidden;
    width: 80%;
}

.non-centered {
    text-align: left;
}

h1 {
  margin: 0 auto;
  padding-top: 10%;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
}

p {
	font-size: 1.4em;
}

@media(max-width:568px){
    .navbar-nav{display: none}
}

@media(max-width:568px){
    /*.open-slide{display: none}
}
    
